<!DOCTYPE html>
<html>
<head>
    <title>EDF Forms System</title>
    <!--link rel="stylesheet" type="text/css" href="registrationStyle.css"-->
    <link href="{{ url_for('static',filename='styles/css/registrationStyle.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='styles/img/favicon.ico') }}">
</head>
<body>
    <div class="container">
        <form action="#" method="post">
            <h1>EDF Forms System</h1>
            <div class="dropdown">
                <label for="edfForms">Select EDF Form:</label>
                <select class="menuform" id="edfForms" name="edfForms">
                    {% for row in session['edflist'] %}
                        <option value="{{row[2]}}">EDF ID: {{row[2]}} Date: {{row[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="crtbtn" id="createButton" name="createButton" value="newEDF">Create EDF Form</button>
            <button id="editButton" name="editButton" value="editEDF">Edit EDF Form</button>
        </form>
    </div>

    <!--script src="script.js"></script-->
</body>
</html>
