<!DOCTYPE html>
<html lang="en">



<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--<link rel="stylesheet" type="text/css" href="style.css">-->
  <link href="{{ url_for('static',filename='styles/css/style.css') }}" rel="stylesheet">
  <!--<link rel="stylesheet" href="css/normalize.css">-->
  <link href="{{ url_for('static',filename='styles/css/normalize.css') }}" rel="stylesheet">

    <!-- <link rel="stylesheet" type="text/css" href="css/style.css">-->
    <link href="{{ url_for('static',filename='styles/css/style.css') }}" rel="stylesheet">
  <!--<script src="js/main.js"></script>-->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <!--<script src="js/daySetting.js"></script>-->
  <script src="{{url_for('static', filename='js/daySetting.js')}}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='styles/img/favicon.ico') }}">

</head>
<body>

<div class="menubar">
  <a class="active" href="/">Log Off</a>
</div> 

<h2>REQUEST FOR EMPLOYEE DEVELOPMENT FUNDS - PART 2</h2>
<div class="form-container">
<form action="#" method="post">
  <!--/Form_Index-->


  <div>
    <a href="/Form_Index" class="red-button">Return</a>
    <!-- index.html -->
  </div>



  <p><b>3.Conference / Workshop / Seminar / Training Course Information</b></p>

  <label for="InformationTitle">Title:</label>
  <input type="text" id="InformationTitle" name="InformationTitle" value="{{session['edfdata'][14]}}" required><br>

  <label for="InformationHost">Host Organization(if applicable):</label>
  <input type="text" id="InformationHost" name="InformationHost" value="{{session['edfdata'][15]}}"><br>

  <label for="InformationLocation">Location:</label>
  <input type="text" id="InformationLocation" name="InformationLocation" value="{{session['edfdata'][16]}}" required><br>

  <div class="label-container">
    <label for="DateStartDate">Start Date:</label>
    <input type="date" id="DateStartDate" name="DateStartDate" value="{{session['edfdata'][17]}}" required><br> </div>
  <div class="label-container">
    <label for="DateEndDate">End Date:</label>
    <input type="date" id="DateEndDate" name="DateEndDate" value="{{session['edfdata'][18]}}" required> </div><br>


  <label for="informationCostRegistration">Cost of Registration:</label>
  <input type="text" id="informationCostRegistration" name="informationCostRegistration" value="{{session['edfdata'][19]}}" required><br>

  <label for="registrationPayment">How will the registration be paid?</label><br>

  <input type="radio" id="registrationPaymentOptionA" name="registrationPayment" value="P-Card" required>
  <label for="registrationPaymentOptionA">P-Card</label><br>

  <input type="radio" id="registrationPaymentOptionB" name="registrationPayment" value="Check Request" required>
  <label for="registrationPaymentOptionB">Check Request</label><br>

  <input type="radio" id="registrationPaymentOptionC" name="registrationPayment" value="Journal Entry" required>
  <label for="registrationPaymentOptionC">Journal Entry <b>(only for internal conferences hosted by Valencia College)</b></label><br>

  <input type="radio" id="registrationPaymentOptionD" name="registrationPayment" value="Journal Entry" required>
  <label for="registrationPaymentOptionD">Traveler to Pay <b>(employee will be reimbursed on per diem after the conference.)</b></label><br><br>


  <label for="informationPurpose"><b>4.Purpose (Why are you taking this course or attending this conference?)</b></label>
  <input type="text" id="informationPurpose" name="informationPurpose" value="{{session['edfdata'][21]}}" required><br>

  <label for="informationBenefitCollege">Benefit to the College (How will this course or conference aid you in your job or future professional position?)</label>
  <input type="text" id="informationBenefitCollege" name="informationBenefitCollege" value="{{session['edfdata'][22]}}" required><br>

  <div class="label-container">
  <label for="signature">Signature <b>(Type your First and Last Name)</b>:</label>
  <input type="text" id="signature" name="signature" value="{{session['edfdata'][23]}}" required>
  </div>

  <div class="label-container">
    <label id="todayDateLabel">Today's Date:</label>
  </div><br>

  <div class="button-container">
    <input type="submit" value="Save Form">
  </div>
  <br><br>

  <div class="button-container">
    <input type="submit" value="Submit Form">
  </div>

</form>
</div>


</body>


</html>
