<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <!--<link rel="apple-touch-icon" href="icon.png"> -->
  <!-- Place favicon.ico in the root directory -->

  <!--<link rel="stylesheet" href="css/normalize.css"> -->
  <link href="{{ url_for('static',filename='styles/css/normalize.css') }}" rel="stylesheet">
  <!--<link rel="stylesheet" href="css/main.css"> -->
  <link href="{{ url_for('static',filename='styles/css/main.css') }}" rel="stylesheet">

  <meta name="theme-color" content="#fafafa">
  <!-- CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css">-->
  <link href="{{ url_for('static',filename='styles/css/style.css') }}" rel="stylesheet">
  <!-- JS -->
  <!--<script src="js/main.js"></script>-->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='styles/img/favicon.ico') }}">
</head>

<body>
<h2>REQUEST FOR EMPLOYEE DEVELOPMENT FUNDS - PART 1</h2>
<div class="form-container">
  <form action="#" method="post">
    <div class="label-container">
    <p><b>This form should be completed for EDF requests for conferences, workshops, and classes not taken at Valencia College. Instructions Below </b></p></div>
    <div class="label-container">
      <a href="Instructions" class="yellow-button">Instructions</a>
    </div>
    <p><b>1.Employee Information</b></p>

    <div class="label-container">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{data[0]}}" required>
    </div>

    <div class="label-container">
    <label for="employeeVID">Employee VID:</label>
    <input type="text" id="employeeVID" name="employeeVID" value="{{data[1]}}" required><br>
    </div>

    <div class="label-container">
    <label for="department">Department:</label>
    <input type="text" id="department" name="department" value="{{data[2]}}" required>
    </div>

      <div class="label-container">
    <label for="position">Position:</label>
    <input type="text" id="position" name="position" value="{{data[3]}}" required>
      </div>

    <div class="label-container">
    <label for="startDate">Start date of Full-Time Employment:</label>
    <input type="date" id="startDate" name="startDate" value="{{data[4]}}" required>
    </div><br>

      <div class="label-container">
    <p>Budget information: <b>Index:</b> 121800 <b>Account:</b> #598030</p>
    </div><br>

    <p><b>2.Academic Information</b> (Use this section for external college or university courses) </p>
    <label for="courseName">Course Name:</label>
    <input type="text" id="courseName" name="courseName" value="{{data[5]}}" required><br>

    <div class="label-container">
    <label for="courseNumber">Course Number:</label>
    <input type="text" id="courseNumber" name="courseNumber" value="{{data[6]}}" required><br>
    </div>
    <div class="label-container">
    <label for="creditHours">Credit Hours:</label>
    <input type="number" id="creditHours" name="creditHours" value="{{data[7]}}" required><br>
    </div><br>
    <label for="degreeProgram">Title of Degree/Certificate Program:</label>
    <input type="text" id="degreeProgram" name="degreeProgram" value="{{data[8]}}" required><br>

    <label for="university">College/University:</label>
    <input type="text" id="university" name="university" value="{{data[9]}}" required><br>

    <div class="label-container">
    <label for="courseStartDate">Course Start Date:</label>
    <input type="date" id="courseStartDate" name="courseStartDate" value="{{data[10]}}" required><br> </div>
      <div class="label-container">
    <label for="courseEndDate">Course End Date:</label>
    <input type="date" id="courseEndDate" name="courseEndDate" value="{{data[11]}}" required> </div><br>


    <label for="degreeCheckbox">Is this course part of a degree program?</label><br>
      <input type="radio" id="yesCheckbox" name="degreeType" value="Yes" onclick="toggleDegreeOptions(true)">
      <label for="yesCheckbox">Yes</label>

    <div class="radio-container">
      <input type="radio" id="noCheckbox" name="degreeType" value="No" onclick="toggleDegreeOptions(false)">
      <label for="noCheckbox">No</label>
    </div>

    <br><div id="degreeOptions" style="display: none;">
    <p><b>if yes, check the degree type that applies.</b></p>
    <input type="radio" id="doctorateCheckbox" name="degreeType" value="Doctorate">
    <label for="doctorateCheckbox">Doctorate</label>
    <input type="radio" id="masterCheckbox" name="degreeType" value="Master">
    <label for="masterCheckbox">Master</label>
    <input type="radio" id="bachelorCheckbox" name="degreeType" value="Bachelor">
    <label for="bachelorCheckbox">Bachelor</label>
    <input type="radio" id="associateCheckbox" name="degreeType" value="Associate">
    <label for="associateCheckbox">Associate</label>
    
    </div><br>

    <!--<br><div id="degreeOptions" style="display: none;">
    <p><b>if yes, check the degree type that applies.</b></p>
      <input type="checkbox" id="doctorateCheckbox" name="degreeType" value="Doctorate">
      <label for="doctorateCheckbox">Doctorate</label>
      <input type="checkbox" id="mastersCheckbox" name="degreeType" value="Master's">
      <label for="mastersCheckbox">Master's</label>
      <input type="checkbox" id="bachelorsCheckbox" name="degreeType" value="Bachelors">
      <label for="bachelorsCheckbox">Bachelors</label>
      <input type="checkbox" id="associatesCheckbox" name="degreeType" value="Associates">
      <label for="associatesCheckbox">Associates</label><br>
    </div><br>-->

    <!-- Second Page of the form-->

    <p><b>(Employee Development funds will not cover books, application fees or tuition already funded by other sources.
      Funds are limited to $1,100 per fiscal year.)</b></p><br>

      <label for="tuitionPayment">How will tuition be paid for?</label><br>
    <input type="radio" id="paymentOptionA" name="tuitionPayment" value="A" required>

    <div class="radio-container">
    <label for="paymentOptionA">Valencia pays institution directly</label>
    <input type="radio" id="paymentOptionB" name="tuitionPayment" value="B" required>
      <label for="paymentOptionB">Valencia reimburses employee for out of pocket tuition cost</label></div><br><br>

    <p>If you selected <b>“Valencia pays institution directly,”</b> submit a check request form along with this application. Payee will be your institution. Include printout of your tuition invoice and class schedule. If you selected <b>“Valencia reimburses employee for out-of-pocket cost,”</b> please submit a
      check request form with this application. Payee will be yourself. Include your paid receipt and class schedule. </p>

    <!--<div class="button">
    <button onclick="nextPage()">Next Page</button>
    </div>-->

    <div class="button-container">
      <input type="submit" value="Next Page">
    </div>

  </form>
</div>
</body>

</html>
