<!DOCTYPE html>
<html>
<head>
    <title>Login Screen</title>
    <!--link rel="stylesheet" type="text/css" href="registrationStyle.css"-->
    <link href="{{ url_for('static',filename='styles/css/registrationStyle.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Flash message when user enters the wrong password/username-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="warning"><span>{{ message }}</span></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="container">
        <h1>Log In</h1>
        <form id="loginForm" action="/" method="post">
            <label for="vid">VID:</label>
            <input type="text" id="vid" name="vid" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" id="loginButton">Log In</button>
        </form>
    </div>
    <br>

    <!--script src="loginScript.js"></script-->
</body>
</html>
