<!DOCTYPE html>
<html>
<head>
    <title>Login Screen</title>
    <!--link rel="stylesheet" type="text/css" href="registrationStyle.css"-->
    <link href="{{ url_for('static',filename='styles/css/registrationStyle.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='styles/img/favicon.ico') }}">
</head>
<body>
    <!-- Flash message when user enters the wrong password/username-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="warning"><span>{{ message }}</span></p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="menubar">
        <a href="/Register">Register</a>
        <a class="active" href="/">EDF Log In</a>
    </div>
    
    <div class="container">
        <h1>EDF Log In</h1>
        <form id="loginForm" action="/" method="post">
            <!--<label for="vid">VID:</label>-->
            <input type="text" id="vid" name="vid" placeholder="VID" required>

            <br>

            <!--<label for="password">Password:</label>-->
            <input type="password" id="password" name="password" placeholder="Password" required>

            <button type="submit" id="loginButton">Log In</button>
        </form>
    </div>
    <br>

    <!--script src="loginScript.js"></script-->
</body>
</html>
