<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <!--link rel="stylesheet" type="text/css" href="registrationStyle.css"-->
    <link href="{{ url_for('static',filename='styles/css/registrationStyle.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Registration</h1>
        <form id="registrationForm">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="vid">VID:</label>
            <input type="text" id="vid" name="vid" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" id="registerButton">Register</button>
        </form>
    </div>

    <!--script src="script.js"></script>-->
</body>
</html>
